<div class="__surface" [style.--background]="background" [style.--foreground]="foreground" tabindex="0">
  <div class="flex items-center mb-2 h-8 flex-none">
    <div class="__name flex-grow">{{ name }}</div>
    <fa-icon class="__readable" *ngIf="isReadable" size="xs" [icon]="icons.valid"></fa-icon>
  </div>
  <dl class="__content flex-1">
    <div class="flex justify-between">
      <dt>Name</dt>
      <dd class="select-text">{{ info.name }}</dd>
    </div>
    <div class="flex justify-between">
      <dt>Color</dt>
      <dd class="select-text">{{ background }}</dd>
    </div>
    <div class="flex justify-between">
      <dt>Body</dt>
      <dd class="select-text">{{ foreground }}</dd>
    </div>
    <div class="flex justify-between" [style.color]="caption">
      <dt>Caption</dt>
      <dd class="select-text">{{ caption }}</dd>
    </div>
    <div class="flex justify-between">
      <dt>Contrast</dt>
      <dd class="select-text">{{ info.contrast }}</dd>
    </div>
    <div class="flex-grow"></div>
    <div class="flex items-baseline justify-between" *ngFor="let size of sizes">
      <dt>{{ readability[size].name }}</dt>
      <dd class="flex gap-2">
        <span
          *ngFor="let level of levels"
          title="Contrast {{ info.readability[level][size].contrast | number: '1.0-2' }}, Required {{
            info.readability[level][size].required | number: '1.0-2'
          }}"
          >{{ level }}
          <fa-icon size="xs" [icon]="info.readability[level][size].readable ? icons.valid : icons.invalid"></fa-icon>
        </span>
      </dd>
    </div>
  </dl>
</div>
