ui-grid {
  grid-auto-rows: 8rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
}

input[type='color'] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: none;
  appearance: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

input[type='color']::-webkit-color-swatch {
  border: none;
}

summary {
  list-style-type: none;
}

summary::-webkit-details-marker {
  display: none;
}

.input {
  height: 1.5rem;
  padding: 0 0 0 0.5rem;
  font-size: theme('fontSize.sm');
  background-color: rgb(var(--neutral-100-bg));
  border: 1px solid rgb(var(--neutral-100-bg));
  border-radius: 0.25rem;
  transition-timing-function: ease-in;
  transition-duration: 150ms;
  transition-property: background-color, border-color;

  &:hover,
  &:focus {
    border-color: rgb(var(--neutral-200-bg));
  }

  &:focus {
    background-color: rgb(var(--neutral-200-bg));
  }

  &.ng-invalid {
    border-color: rgba(255, 38, 0, 0.5);
  }
}

.button {
  padding: 0 0.5rem;
  line-height: 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}
