<div class="my-12">
  <div class="flex items-center gap-2">
    <input
      class="px-2 py-1 -mx-2 -my-1 rounded text-lg bg-transparent hocus:bg-neutral-100 hocus:outline-1 hocus:outline-white/20 transition-colors"
      type="text"
      [ngModel]="config.label"
      (ngModelChange)="change('label', $event)"
    />
    <div class="ml-auto flex gap-4 text-sm">
      <div class="flex gap-4" *ngIf="showControls">
        <label *ngIf="!config.bezier" class="flex gap-2 items-center">
          <div class="text-xs">Mode</div>
          <select class="input" [ngModel]="config.mode" (ngModelChange)="change('mode', $event)">
            <option *ngFor="let mode of colorModes" [value]="mode">{{ mode }}</option>
          </select>
        </label>
        <label class="flex gap-2 items-center">
          <input type="checkbox" [ngModel]="config.bezier" (ngModelChange)="change('bezier', $event)" />
          <div class="text-xs">Bezier</div>
        </label>
        <label class="flex gap-2 items-center">
          <input
            type="checkbox"
            [ngModel]="config.correctLightness"
            (ngModelChange)="change('correctLightness', $event)"
          />
          <div class="text-xs">Correct lightness</div>
        </label>
      </div>
      <label class="flex gap-2 items-center">
        <input type="checkbox" [(ngModel)]="showControls" />
        <div class="text-xs">Show controls</div>
      </label>
      <label class="flex gap-2 items-center">
        <input type="checkbox" [(ngModel)]="showLightness" />
        <div class="text-xs">Show lightness</div>
      </label>
    </div>
    <!-- <fa-icon [icon]="icons.config"></fa-icon> -->
  </div>
  <ul class="flex gap-1 my-4">
    <core-theme-swatch
      *ngFor="let shade of palette.shades; trackBy: getShadeIndexKey"
      [name]="shade.name"
      [background]="shade.background"
      [foreground]="shade.foreground"
    ></core-theme-swatch>
  </ul>
  <div class="flex justify-between my-2" *ngIf="showControls">
    <core-theme-hsl-control [value]="config.min" (valueChange)="change('min', $event)"></core-theme-hsl-control>

    <label tabindex="0" class="h-6 bg-current rounded px-4 py-0 relative" [style.color]="config.base">
      <span>Base color</span>
      <input
        class="absolute inset-0 invisible"
        type="color"
        tabindex="-1"
        [ngModel]="config.base"
        (ngModelChange)="change('base', $event)"
        #colorPicker
      />
    </label>
    <core-theme-hsl-control [value]="config.max" (valueChange)="change('max', $event)"></core-theme-hsl-control>
  </div>
  <core-theme-palette-chart *ngIf="showLightness" [colors]="palette.shades"></core-theme-palette-chart>
</div>
